.colors__box h3{
  padding-left: 40px;
  font-size: 16px;
}

  .circle1{
    background-color: #110101;
  }
  .circle2{
    background-color: #2c1286;
  }
  .circle3{
    background-color: #dfcc40;
  }
  .circle4{
    background-color: #596662;
  }
  